.main-heading{
    color: rgb(125, 218, 32);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
    /* border: 2px solid gray; */
    background-color: bisque;
    font-weight: 900;

}

.vowels{
    font-size: 40px;
    font-weight: bolder;
    font-family: cursive;
  
    text-align: center;
  
}

.a{
    background-color: yellow;
    padding-top :1px;
    padding-left : 18px;
    padding-right: 18px;
    padding-bottom: 5px ;
    text-align: center;
    border-radius: 10px;
    border: 2px solid yellow;

}

.e{
    background-color:	#EE82EE;
    padding-top :1px;
    padding-left : 18px;
    padding-right: 18px;
    padding-bottom: 5px ;
    text-align: center;
    border-radius: 10px;
    border: 2px solid 	#EE82EE;


}

.i{
    background-color: peachpuff;
    padding-top :1px;
    padding-left : 25px;
    padding-right: 25px;
    padding-bottom: 5px ;
    text-align: center;
    border-radius: 10px;
    border: 2px solid peachpuff;

}
.o{
    background-color:#87CEFA;
    padding-top :1px;
    padding-left : 18px;
    padding-right: 18px;
    padding-bottom: 5px ;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #87CEFA;


}

.u{
    background-color: 	#BC8F8F;
    padding-top :1px;
    padding-left : 18px;
    padding-right: 18px;
    padding-bottom: 5px ;
    text-align: center;
    border-radius: 10px;
    border: 2px solid 	#BC8F8F;

}

.input{
    box-shadow: 3px 3px 3px 3px rgb(226, 226, 226);
    width: 70%;
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
    height: 200px;


}

.ins{
    font-size: 20px;
    font-weight: bold;
    color: 	#FF00FF;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;

}

#value{
    padding: 10px;
    width: 40%;
    background-color: 	#20B2AA;
    border: none;
    border-radius: 20px;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.btn{
    background: transparent;
    background-color: 	#dc143c;
    border: none;
    width: 20%;
    font-size: 18px;
    font-family: cursive;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    padding: 10px;
    letter-spacing: 0.2em;
    cursor: pointer;
}

.btn:hover{
    background-color: 	violet;
    transition: 2s;
    
}

.result{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.vowelss{
    border:3px solid plum;
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;



}

.z{
    font-size: 30px;
    font-weight: bold;
    color: #dc143c;
    font-family: cursive;
}

.words{
    border:3px solid palegreen;
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
    margin-left: 150px;


}

.x{
    font-size: 30px;
    font-weight: bold;
    color:#87CEFA;
    font-family: cursive;

}

#vowel{
    color:mediumturquoise;
    font-size: 20px;
    font-weight: bold;

 }

#word{
    color: 	maroon;
    font-size: 20px;
    font-weight: bold;

}

#error{
    line-height: 0.5px;
    font-size: 15px;
    font-weight: bold;
}